aiohttp~=3.14.1
async_timeout~=5.0.1
asyncpg~=0.31.0
discord.py~=2.7.1
python_Levenshtein~=0.27.3
Requests~=2.34.2
wavelink~=3.5.2
Pillow~=12.2.0
pyfiglet~=1.0.4
topggpy~=1.4.0
parsedatetime~=2.6
python-dateutil~=2.9.0
wikipedia~=1.4.0
lyricsgenius~=3.0.1
cryptography~=49.0.0
